################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.vsidx
/.vs/SecureGateApi/FileContentIndex
/SecureGate.DataAccess.Common/obj
/SecureGate.DataAccess.Common/obj
